<a href="https://colab.research.google.com/github/gabriellfelipe7/Spaceship_Titanic-Kaggle/blob/main/Spaceship_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Spaceship Titanice**

- Gabriel Felipe Machado de Oliveira
- Maio de 2023

Competição Kaggle que traz como objetivo prever quais passageiros de uma espaçonave foram transportados para uma realidade alternativa.

In [1]:
#Bibliotecas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statistics as sts
import scipy.stats as sci

# Importando os dados e verificando as informações essenciais

In [2]:
#Importação

data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

data_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
#Informações de tipos de dados e valores nulos
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [6]:
#Verificando os tamanhos dos datsets de treino e test
print(data_train.shape)
print(data_test.shape)

(8693, 14)
(4277, 13)

# Tratamento dos valores

In [7]:
#Verificando os valores distintos das colunas a fim de selecionarmos as categoricas impossíveis de se tratarem
#Colunas que serão excluidas: Cabin, Name
for i in list(data_train.columns):
  print(f'Número de valores distintos da coluna {i}:')
  print(len(data_train[i].unique()))
  print()

Número de valores distintos da coluna PassengerId:
8693

Número de valores distintos da coluna HomePlanet:
4

Número de valores distintos da coluna CryoSleep:
3

Número de valores distintos da coluna Cabin:
6561

Número de valores distintos da coluna Destination:
4

Número de valores distintos da coluna Age:
81

Número de valores distintos da coluna VIP:
3

Número de valores distintos da coluna RoomService:
1274

Número de valores distintos da coluna FoodCourt:
1508

Número de valores distintos da coluna ShoppingMall:
1116

Número de valores distintos da coluna Spa:
1328

Número de valores distintos da coluna VRDeck:
1307

Número de valores distintos da coluna Name:
8474

Número de valores distintos da coluna Transported:
2

In [9]:
#Exclusão das colunas
data_train = data_train.drop(columns=['Cabin', 'Name'])

In [10]:
#Informações após a exclusão
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 755.7+ KB

In [11]:
#Verificando valores nulos
data_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [12]:
data_train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [19]:
#Calculando as médias das colunas 
age_mean = round(data_train['Age'].mean(),3)
room_mean = round(data_train['RoomService'].mean(), 3)
food_mean = round(data_train['FoodCourt'].mean(), 3)
mall_mean = round(data_train['ShoppingMall'].mean(), 3)
spa_mean = round(data_train['Spa'].mean(), 3)
vrdeck_mean = round(data_train['VRDeck'].mean(), 3)

In [21]:
#Substituindo os valores nulos
data_train.update(data_train['Age'].fillna(age_mean))
data_train.update(data_train['RoomService'].fillna(room_mean))
data_train.update(data_train['FoodCourt'].fillna(food_mean))
data_train.update(data_train['ShoppingMall'].fillna(mall_mean))
data_train.update(data_train['Spa'].fillna(spa_mean))
data_train.update(data_train['VRDeck'].fillna(vrdeck_mean))

In [22]:
#Verificando as substituições
data_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
dtype: int64

In [26]:
#Excluindo linhas nulas
data_train = data_train.dropna()
data_train.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

# Tratando variáveis booleanas

In [28]:
data_train[['VIP', 'Transported']]

        VIP  Transported
0     False        False
1     False         True
2      True        False
3     False        False
4     False         True
...     ...          ...
8688   True        False
8689  False        False
8690  False         True
8691  False        False
8692  False         True

[7913 rows x 2 columns]

In [29]:
data_train[data_train['VIP'] == 'True'] = 1

<ipython-input-29-3756b282ec6b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[data_train['VIP'] == 'True'] = 1

# Tratando variáveis categóricas

In [24]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 kB 4.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [25]:
import category_encoders as ce
from category_encoders import OneHotEncoder

In [27]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7913 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   7913 non-null   object
 1   HomePlanet    7913 non-null   object
 2   CryoSleep     7913 non-null   object
 3   Destination   7913 non-null   object
 4   Age           7913 non-null   float64
 5   VIP           7913 non-null   object
 6   RoomService   7913 non-null   float64
 7   FoodCourt     7913 non-null   float64
 8   ShoppingMall  7913 non-null   float64
 9   Spa           7913 non-null   float64
 10  VRDeck        7913 non-null   float64
 11  Transported   7913 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 749.6+ KB

In [ ]:
one_hot_enc = OneHotEncoder(cols = ['HomePlanet', 'CryoSleep', 'Destination'])
one_hot_enc.fit_transform(data_train)