<a href="https://colab.research.google.com/github/gabriellfelipe7/Spaceship_Titanic-Kaggle/blob/main/Spaceship_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Spaceship Titanice**

- Gabriel Felipe Machado de Oliveira
- Maio de 2023

In [ ]:
#Bibliotecas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statistics as sts
import scipy.stats as sci

In [ ]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

data_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [ ]:
for i in list(data_train.columns):
  print(f'Número de valores distintos da coluna {i}:')
  print(len(data_train[i].unique()))

Número de valores distintos da coluna PassengerId:
8693
Número de valores distintos da coluna HomePlanet:
4
Número de valores distintos da coluna CryoSleep:
3
Número de valores distintos da coluna Cabin:
6561
Número de valores distintos da coluna Destination:
4
Número de valores distintos da coluna Age:
81
Número de valores distintos da coluna VIP:
3
Número de valores distintos da coluna RoomService:
1274
Número de valores distintos da coluna FoodCourt:
1508
Número de valores distintos da coluna ShoppingMall:
1116
Número de valores distintos da coluna Spa:
1328
Número de valores distintos da coluna VRDeck:
1307
Número de valores distintos da coluna Name:
8474
Número de valores distintos da coluna Transported:
2

In [ ]:
len(data_train['HomePlanet'].unique())

4